# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Editors and IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Misc
.DS_Store
.env
